<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../mysite/static/index.css">
    <title>GeoGroove</title>
  </head>
  <body>
    <header>
      <img src="../mysite/static/images/2.png" alt="ロゴ">
      <main>
        <h2>地域一覧</h2>
        <form action="./test.html" method="post">
          <ul class="area-list">
            <li><button type="submit" name="area" value="日本">日本</button></li>
            <li><button type="submit" name="area" value="アメリカ">アメリカ</button></li>
            <li><button type="submit" name="area" value="スペイン">スペイン</button></li>
            <li><button type="submit" name="area" value="ベトナム">ベトナム</button></li>
          </ul>
        </form>
      </main>
    </header>
  </body>
</html>
