<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../mysite/static/index.css" />
    <title>GeoGroove</title>
  </head>
  <body>
    <header>
      <h1>GeoGroove</h1>
    </header>
    <main>
      <h2>地域一覧</h2>
      <form action="/playlist/" method="post">
        {% csrf_token%}
        <ul class="area-list">
          <li><button type="submit" name="area" value="日本">日本</button></li>
          <li><button type="submit" name="area" value="アメリカ">アメリカ</button></li>
          <li><button type="submit" name="area" value="スペイン">スペイン</button></li>
          <li><button type="submit" name="area" value="ベトナム">ベトナム</button></li>
        </ul>
      </form>
    </main>
  </body>
</html>
