<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>曲リスト</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <style>
    .title {
        font-size: 20px;
    }
    .name {
        font-size: 13px;
        color: #808080
    }
 </style>
<body>
    <h1 class="area">イギリス</h1>
    <!-- 地域を受け取って表示 -->
    <ol>
        <li>
            <div class="title">曲名</div>
            <div class="name">アーティスト名</div>
            <!-- 曲の情報を受け取って表示 -->
        </li>
        <li>
            <div class="title">Let it be</div>
            <div class="name">The Beatles</div>  
        </li>         
    </ol>
 </body>
</html>