<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoGroove</title>
  </head>
  <body>
    <header>
      <h1>GeoGroove</h1>
      <main>
        <h2>地域一覧</h2>
        <ul>
          <li><button type="submit" value="日本">日本</button></li>
          <li><button type="submit" value="アメリカ">アメリカ</button></li>
          <li><button type="submit" value="スペイン">スペイン</button></li>
          <li><button type="submit" value="ベトナム">ベトナム</button></li>
        </ul>
      </main>
    </header>
  </body>
</html>
